In [5]:
from statsmodels.stats.weightstats import ztest
import scipy.stats as stats
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("C:/Users/ouaga/Dropbox/PythonScripts/Stats_tests/Goats50.csv")

In [7]:
df.head(10)

   Method1  Method2
0    56.16    60.52
1    56.26    62.37
2    61.10    61.54
3    63.61    58.76
4    63.22    63.27
5    56.02    60.86
6    58.02    60.08
7    61.37    61.45
8    63.38    61.82
9    61.12    59.30

### Take a look at the descriptive summary of the data

In [8]:
melted_df = pd.melt(df,var_name="Feed_type", value_name="Weights")

In [9]:
melted_df.head()

  Feed_type  Weights
0   Method1    56.16
1   Method1    56.26
2   Method1    61.10
3   Method1    63.61
4   Method1    63.22

In [10]:
bygroup = melted_df.groupby(['Feed_type'])['Weights']
bygroup.aggregate(['count',np.mean, np.std]).round(2)

           count   mean   std
Feed_type
Method1       50  59.49  2.90
Method2       50  61.14  1.19

## Testing the hypothesis that the mean is 58 against the alternative that it is  not

$\begin{align}
  & {{H}_{0}}:\,\mu =\,{{\mu }_{0}} \\ 
 & {{H}_{1}}:\,\mu \ne {{\mu }_{0}} \\ 
\end{align}$

In [11]:
(test_statistic, p_value) = ztest(df['Method1'], value=58, alternative='two-sided', ddof=1.0)

In [12]:
print("The test statistic is: ", round(test_statistic,5))
print("The p-value is: ", round(p_value,5))

The test statistic is:  3.64076
The p-value is:  0.00027

## Testing the hypothesis that the mean is 58 against the alternative that it is  GREATER

$\begin{align}
  & {{H}_{0}}:\mu ={{\mu }_{0}} \\ 
 & {{H}_{1}}:\mu >{{\mu }_{0}} \\ 
\end{align}$

In [13]:
(test_statistic, p_value) = ztest(df['Method1'], value=58, alternative='larger', ddof=1.0)

In [14]:
print("The test statistic is: ", round(test_statistic,5))
print("The p-value is: ", round(p_value,5))

The test statistic is:  3.64076
The p-value is:  0.00014

  ## Testing the hypothesis that the mean is 58 against the alternative  that it is SMALLER

$\begin{align}
  & {{H}_{0}}:\mu ={{\mu }_{0}} \\ 
 & {{H}_{1}}:\mu < {{\mu }_{0}} \\ 
\end{align}$

In [15]:
(test_statistic, p_value) = ztest(df['Method1'], value=58, alternative='smaller', ddof=1.0)

In [16]:
print("The test statistic is: ", round(test_statistic,5))
print("The p-value is: ", round(p_value,5))

The test statistic is:  3.64076
The p-value is:  0.99986