In [9]:
import scipy.stats as stats
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("Goats_Weights.csv")

In [11]:
df.head(25)

    Method1  Method2
0     58.88    58.89
1     59.37    63.62
2     59.60    56.83
3     58.54    55.39
4     57.73    58.74
5     59.32    59.07
6     60.18    54.42
7     59.94    61.78
8     59.96    61.29
9     61.09    59.65
10    58.55    54.87
11    59.60    63.03
12    63.71    58.88
13    60.19    62.68
14    59.70    63.32
15    62.38    58.36
16    61.71    61.76
17    56.29    61.57
18    58.12    59.89
19    58.57    56.36
20    59.16    60.28
21    54.83    59.83
22    64.04    61.26
23    62.77    53.76
24    61.91    51.75

## By default ttest_1samp is a two-sided test for the null hypothesis

###  Suppose that we want to test the hypothesis the goat weight in method1: <br> U = 58  against the alternative that its different than 58

$\begin{align}
  & {{H}_{0}}:\,\mu =\,{{\mu }_{0}} \\ 
 & {{H}_{1}}:\,\mu \ne {{\mu }_{0}} \\ 
\end{align}$

In [12]:
popmean = 58
dof = df['Method1'].count()-1
(test_statistic, p_value) = stats.ttest_1samp(df['Method1'], popmean, nan_policy='omit')
print("The test statistic is: ", round(test_statistic,5))
print("The p-value is: ", round(p_value,10))

The test statistic is:  4.32319
The p-value is:  0.0002322031

In [13]:
df.describe().unstack()

Method1  count    25.000000
         mean     59.845600
         std       2.134534
         min      54.830000
         25%      58.570000
         50%      59.600000
         75%      61.090000
         max      64.040000
Method2  count    25.000000
         mean     59.091200
         std       3.219079
         min      51.750000
         25%      56.830000
         50%      59.650000
         75%      61.570000
         max      63.620000
dtype: float64

### NOW, suppose that we want to test the hypothesis the goat weight in method1: <br> U = 58  against the alternative that its GREATER than 58

$\begin{align}
  & {{H}_{0}}:\mu ={{\mu }_{0}} \\ 
 & {{H}_{1}}:\mu >{{\mu }_{0}} \\ 
\end{align}$

In [14]:
1-stats.t.cdf(x=test_statistic, df=dof)  ### right tailed if p positive

0.00011610156012431538

### NOW, suppose that we want to test the hypothesis the goat weight in method1: <br> U = 58  against the alternative that its LESS THAN 58

In [15]:
stats.t.cdf(x=test_statistic, df=dof)   ### left tailed

0.99988389843987568

##  Various scenarios<br>t-value= 2.983, df  = 5.

### Find the left tailed p-value

In [16]:
stats.t.cdf(x=2.983, df= 5)

0.98465316420450555

### find the Right tailed p-value

In [17]:
1-stats.t.cdf(x=2.983, df= 5)

0.015346835795494451

### find the two-tailed tailed p-value

In [18]:
(1-stats.t.cdf(x=2.983, df= 5))*2

0.030693671590988902

In [19]:
stats.t.cdf(x=-2.983, df= 5)*2

0.030693671590988958