In [31]:
import scipy.stats as stats
import pandas as pd

In [32]:
df = pd.read_csv("C:/Users/ouaga/Dropbox/PythonScripts/Stats_tests/Life_Expectancy_Before_After.csv")

In [33]:
df.head(10)

,WHO region,Male_life_2010,Male_life_2015,Female_life_2010,Female_life_2015
0,Africa,55.6,58.3,58.4,61.8
1,Americas,72.3,74.0,78.4,79.9
2,South-East Asia,65.8,67.3,68.7,70.7
3,Europe,71.5,73.2,79.0,80.2
4,Eastern Mediterranean,66.5,67.3,69.3,70.3
5,Western Pacific,73.5,74.5,77.8,78.7

## Ho: D = 0  <br> H1:  D is different than 0

###  Compute the paired t-test - with nan_policy='omit' missing values are deleted otherwise we receive nan

### Paired t-test for Males

In [35]:
(test_statistic, p_value) = stats.ttest_rel(df['Male_life_2010'],df['Male_life_2015'], nan_policy='omit')
print("The test statistic is: ", round(test_statistic,5))
print("The p-value is: ", round(p_value,5))

The test statistic is:  -5.74196
The p-value is:  0.00225

### Paired t-test for females

In [36]:
(test_statistic, p_value) = stats.ttest_rel(df['Female_life_2015'],df['Female_life_2010'], nan_policy='omit')
print("The test statistic is: ", round(test_statistic,5))
print("The p-value is: ", round(p_value,5))

The test statistic is:  4.35524
The p-value is:  0.00732