In [19]:
import pandas as pd
import numpy as np
from scipy.stats import friedmanchisquare

### Friedman chi-square test it is a nonparametric version of a one way ANOVA with repeated measures. 
    H0: The distributions scores are the same across repeated measures
    H1: The distributions across repeated measures are different

### Read in the datafile

1. Hypnosis data from a study on skin potential (measured in millivolts) for four emotions (Lehmann 1975, p. 264). 
2. Eight subjects are asked to display fear, joy, sadness, and calmness under hypnosis. 
3. The data are recorded as one observation per subject for each emotion

In [20]:
df = pd.read_csv("C:/Users/ouaga/Dropbox/PythonScripts/Anova/Friedman2.csv")

In [21]:
df.head(20)

   Person  Fear   Joy  Sadness  Calmness
0       1  23.1  22.7     22.5      22.6
1       2  57.6  53.2     53.7      53.1
2       3  10.5   9.7     10.8       8.3
3       4  23.6  19.6     21.1      21.6
4       5  11.9  13.8     13.7      13.3
5       6  54.6  47.1     39.2      37.0
6       7  21.0  13.6     13.7      14.8
7       8  20.3  23.6     16.3      14.8

### Drop extra columns from the data

In [22]:
df.drop(['Person'],axis=1, inplace=True)

In [23]:
df

   Fear   Joy  Sadness  Calmness
0  23.1  22.7     22.5      22.6
1  57.6  53.2     53.7      53.1
2  10.5   9.7     10.8       8.3
3  23.6  19.6     21.1      21.6
4  11.9  13.8     13.7      13.3
5  54.6  47.1     39.2      37.0
6  21.0  13.6     13.7      14.8
7  20.3  23.6     16.3      14.8

###  Transpose the datafile prior to analysis

In [24]:
dft = df.T

In [25]:
dft

             0     1     2     3     4     5     6     7
Fear      23.1  57.6  10.5  23.6  11.9  54.6  21.0  20.3
Joy       22.7  53.2   9.7  19.6  13.8  47.1  13.6  23.6
Sadness   22.5  53.7  10.8  21.1  13.7  39.2  13.7  16.3
Calmness  22.6  53.1   8.3  21.6  13.3  37.0  14.8  14.8

### Transform the data in numpy array prior to function input

In [26]:
df2 = np.array(dft)

In [27]:
df2

array([[ 23.1,  57.6,  10.5,  23.6,  11.9,  54.6,  21. ,  20.3],
       [ 22.7,  53.2,   9.7,  19.6,  13.8,  47.1,  13.6,  23.6],
       [ 22.5,  53.7,  10.8,  21.1,  13.7,  39.2,  13.7,  16.3],
       [ 22.6,  53.1,   8.3,  21.6,  13.3,  37. ,  14.8,  14.8]])

### The stats.friedmanchisquare needs multiple array_like arguments

### Compute the Friedman chi-square

In [29]:
(chisq, pvalue) =  friedmanchisquare(*[df2[x, :] for x in range(df2.shape[0])])

In [30]:
print("The chi-square is", chisq)

The chi-square is 6.45

In [31]:
print("The p-value is", round(pvalue,4))

The p-value is 0.0917

### Another alternative for computing the Friedman using rows from the transposed data

In [32]:
dft

             0     1     2     3     4     5     6     7
Fear      23.1  57.6  10.5  23.6  11.9  54.6  21.0  20.3
Joy       22.7  53.2   9.7  19.6  13.8  47.1  13.6  23.6
Sadness   22.5  53.7  10.8  21.1  13.7  39.2  13.7  16.3
Calmness  22.6  53.1   8.3  21.6  13.3  37.0  14.8  14.8

In [33]:
(chisq, pvalue) = friedmanchisquare(*[row for index, row in dft.iterrows()])

In [34]:
print("The chi-square is", chisq)

The chi-square is 6.45

In [35]:
print("The p-value is", round(pvalue,4))

The p-value is 0.0917