In [24]:
import pandas as pd
import numpy as np
from scipy.stats import friedmanchisquare

In [25]:
df = pd.read_csv("C:/Users/ouaga/Dropbox/PythonScripts/Anova/Friedman3.csv")

In [26]:
df.head(20)

   Persons     A      B      C     D      E      F
0        1  3.88  30.58  25.24  4.44  29.41  38.87
1        2  5.64  30.14  33.52  7.94  30.72  33.12
2        3  5.76  16.92  25.45  4.04  32.92  39.15
3        4  4.25  23.19  18.85  4.40  28.23  28.06
4        5  5.91  26.74  20.45  4.23  23.35  38.23
5        6  4.33  10.91  26.67  4.36  12.00  26.65

In [27]:
df.drop(['Persons'],axis=1, inplace=True)

In [28]:
dft = df.T

In [29]:
dft

       0      1      2      3      4      5
A   3.88   5.64   5.76   4.25   5.91   4.33
B  30.58  30.14  16.92  23.19  26.74  10.91
C  25.24  33.52  25.45  18.85  20.45  26.67
D   4.44   7.94   4.04   4.40   4.23   4.36
E  29.41  30.72  32.92  28.23  23.35  12.00
F  38.87  33.12  39.15  28.06  38.23  26.65

In [30]:
df2 = np.array(dft)
(chisq, pvalue) =  friedmanchisquare(*[df2[x, :] for x in range(df2.shape[0])])

In [31]:
print("The chi-square is", chisq)

The chi-square is 23.3333333333

In [32]:
print("The p-value is", round(pvalue,4))

The p-value is 0.0003