In [84]:
import pandas as pd

## Finding outliers in the data <br> Lower fence = Q1 -1.5IQR <br> Upper fence = Q3 + 1.5IQR <br> Outliers fall outside of the fences

In [85]:
df = pd.read_csv("InfantMortalityGNI.csv",encoding='latin1')

In [86]:
df.head()

     Countries  GNI_PER_CAPITA  Infant_Mortality
0  Afghanistan           590.0              73.2
1      Albania          4290.0              14.0
2      Algeria          4800.0              25.5
3      Andorra             NaN               2.8
4       Angola          4040.0              86.5

In [87]:
df.drop('GNI_PER_CAPITA', axis=1, inplace=True)

In [88]:
df.head()

     Countries  Infant_Mortality
0  Afghanistan              73.2
1      Albania              14.0
2      Algeria              25.5
3      Andorra               2.8
4       Angola              86.5

## Compute the quartiles and fences in Pandas

In [89]:
Q1 = df['Infant_Mortality'].quantile(0.25, interpolation='linear')

In [90]:
Q3 = df['Infant_Mortality'].quantile(0.75, interpolation='linear')

In [91]:
IQR = Q3-Q1

In [92]:
Lowerfence = Q1 - 1.5*IQR
Upperfence = Q3 + 1.5*IQR

In [93]:
Lowerfence

-53.75

In [94]:
Upperfence

111.44999999999999

In [95]:
OUTLIERS = df.loc[(df['Infant_Mortality'] < Lowerfence)  |  (df['Infant_Mortality'] > Upperfence) ]

In [96]:
NORMAL = df.loc[(df['Infant_Mortality'] > Lowerfence)  & (df['Infant_Mortality'] < Upperfence) ]

In [97]:
OUTLIERS

                    Countries  Infant_Mortality
32   Central African Republic             128.8
33                       Chad             130.9
109                      Mali             114.2
153              Sierra Leone             118.8
158                   Somalia             136.7

In [98]:
NORMAL.head()

     Countries  Infant_Mortality
0  Afghanistan              73.2
1      Albania              14.0
2      Algeria              25.5
3      Andorra               2.8
4       Angola              86.5

##  Compare descriptive statistics using all data with outliers and the data without outliers

In [99]:
df.describe().unstack()

Infant_Mortality  count    193.000000
                  mean      31.427979
                  std       31.317277
                  min        2.200000
                  25%        8.200000
                  50%       17.400000
                  75%       49.500000
                  max      136.700000
dtype: float64

In [100]:
NORMAL.describe().unstack()

Infant_Mortality  count    188.000000
                  mean      28.915957
                  std       27.573780
                  min        2.200000
                  25%        7.950000
                  50%       16.850000
                  75%       45.375000
                  max      108.000000
dtype: float64