In [1]:
import pandas as pd
import statistics as stats

In [2]:
df = pd.read_csv("InfantMortalityGNI.csv",encoding='latin1')

### Check the data first

In [3]:
df.head()

     Countries  GNI_PER_CAPITA  Infant_Mortality
0  Afghanistan           590.0              73.2
1      Albania          4290.0              14.0
2      Algeria          4800.0              25.5
3      Andorra             NaN               2.8
4       Angola          4040.0              86.5

### Compute descriptive statistics functions using the statistics library

In [4]:
dfMissing = df[df.isnull().any(axis=1)]

In [5]:
dfMissing.head(10)

                     Countries  GNI_PER_CAPITA  Infant_Mortality
3                      Andorra             NaN               2.8
43                        Cuba             NaN               5.6
47                    Djibouti             NaN              66.2
54                     Eritrea             NaN              45.9
73        Hong Kong SAR, China         41100.0               NaN
81                 Isle of Man         82650.0               NaN
90   Korea, Dem. Peoples Rep.             NaN              21.1
92                      Kosovo          3980.0               NaN
100                      Libya             NaN              13.4
103           Macao SAR, China         64580.0               NaN

In [6]:
Mean = stats.mean(df['Infant_Mortality'])
Mean

nan

In [7]:
stats.stdev(df['Infant_Mortality'])

nan