In [ ]:
import pandas as pd
import numpy as np

### Optimized for speed since the functions are written in C <BR> and wrapped in Python

## Using a dataframe with missing values

In [12]:
df = pd.read_csv("InfantMortalityGNI.csv",encoding='latin1')

In [13]:
df.head()

     Countries  GNI_PER_CAPITA  Infant_Mortality
0  Afghanistan           590.0              73.2
1      Albania          4290.0              14.0
2      Algeria          4800.0              25.5
3      Andorra             NaN               2.8
4       Angola          4040.0              86.5

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 3 columns):
Countries           197 non-null object
GNI_PER_CAPITA      185 non-null float64
Infant_Mortality    193 non-null float64
dtypes: float64(2), object(1)
memory usage: 4.7+ KB

### Calculate the median Infant_Mortality

In [15]:
Median = np.nanmedian(df['Infant_Mortality'])
Median

17.399999999999999

In [16]:
np.median(df['Infant_Mortality'].dropna())

17.399999999999999

### Calculate the sample standard deviation of Infant_Mortality

### np.std(x, ddof), np.nanstd(x, ddof)

$S=\sqrt{\frac{\sum{{{\left( x-\overline{x} \right)}^{2}}}}{n-1}}$

### when using std, by defaut ddof = 0  (computes the population standard deviation)

In [17]:
np.nanstd(df['Infant_Mortality'])

31.236038449028836

In [18]:
np.nanstd(df['Infant_Mortality'],ddof=0)

31.236038449028836

In [19]:
Sample_std = np.nanstd(df['Infant_Mortality'], ddof=1)
Sample_std

31.317276657614535

### Calculate the population standard deviation of Infant_Mortality

$\sigma=\sqrt{\frac{\sum{{{\left( x-\overline{x} \right)}^{2}}}}{n}}$

In [20]:
Pop_std = np.nanstd(df['Infant_Mortality'], ddof=0)
Pop_std

31.236038449028836

In [21]:
popvar = np.nanvar(df['Infant_Mortality'],ddof=0)
popvar

975.69009798920774

In [22]:
samplevar = np.nanvar(df['Infant_Mortality'],ddof=1)
samplevar

980.77181724956824

## Calculating weighting average

In [23]:
TestResults = pd.read_csv("Weighted_Scores.csv",encoding='latin1')

In [24]:
TestResults.head(10)

                 Subjects  Score  Weights
0  Descriptive Statistics     80        3
1             Probability     65        2
2     Regression Analysis     75        3
3                 English     88        2
4                  French     70        1
5      Python Programming     87        3
6   Unix operating system     77        3
7        Machine Learning     78        3
8         SQL programming     87        3
9               Spark 2.0     65        3

### Compute unweighted mean

In [25]:
Unweighted_Mean = np.average(TestResults['Score'])
print("The unweighted mean is", Unweighted_Mean)

The unweighted mean is 77.2

### Compute weighted mean

In [26]:
Weighted_Mean = np.average(TestResults['Score'], weights=TestResults['Weights'])
print("The weighted mean is", Weighted_Mean)

The weighted mean is 77.8076923077