In [24]:
import pandas as pd
pd.set_option('display.max_rows', 1000)

### Advantages using Pandas statistical functions <br>  Missing values are removed prior to computations

In [25]:
dfRate = pd.read_csv("C:/Users/ouaga/Dropbox/PythonScripts/World2017literacyRate.csv",encoding='latin1')

In [26]:
dfMortality = pd.read_csv("C:/Users/ouaga/Dropbox/PythonScripts/InfantMortalityGNI.csv",encoding='latin1')

In [27]:
dfRate.head()

               Country  Literacy_Rate
0              Albania             96
1              Algeria             73
2               Angola             70
3  Antigua and Barbuda             99
4            Argentina             98

In [28]:
dfMortality.head()

     Countries  GNI_PER_CAPITA  Infant_Mortality
0  Afghanistan           590.0              73.2
1      Albania          4290.0              14.0
2      Algeria          4800.0              25.5
3      Andorra             NaN               2.8
4       Angola          4040.0              86.5

In [31]:
dfMortality['GNI_PER_CAPITA'].mean()

13834.108108108108

 # Using statistical functions available with the Pandas library ##

### Pandas describe library

In [32]:
dfRate.describe()

       Literacy_Rate
count     147.000000
mean       82.469388
std        18.555473
min        29.000000
25%        71.000000
50%        90.000000
75%        98.000000
max       100.000000

In [33]:
dfRate.describe().unstack()

Literacy_Rate  count    147.000000
               mean      82.469388
               std       18.555473
               min       29.000000
               25%       71.000000
               50%       90.000000
               75%       98.000000
               max      100.000000
dtype: float64

In [34]:
dfMortality.describe().unstack()

GNI_PER_CAPITA    count      185.000000
                  mean     13834.108108
                  std      19036.340801
                  min        280.000000
                  25%       2000.000000
                  50%       5540.000000
                  75%      15310.000000
                  max      93860.000000
Infant_Mortality  count      193.000000
                  mean        31.427979
                  std         31.317277
                  min          2.200000
                  25%          8.200000
                  50%         17.400000
                  75%         49.500000
                  max        136.700000
dtype: float64

##  Obtaining descriptive statitics with different percentiles

In [35]:
dfRate.describe(percentiles=[0.25,0.33,0.66,0.75,0.95,0.99])

       Literacy_Rate
count     147.000000
mean       82.469388
std        18.555473
min        29.000000
25%        71.000000
33%        78.000000
50%        90.000000
66%        95.000000
75%        98.000000
95%       100.000000
99%       100.000000
max       100.000000

### Find the top five literacy rates

In [42]:
TopfiveLiteracyRates = dfRate.nlargest(5,'Literacy_Rate')

In [43]:
TopfiveLiteracyRates

                                  Country  Literacy_Rate
5                                 Armenia            100
6                              Azerbaijan            100
9                                 Belarus            100
33                                   Cuba            100
35  Democratic People's Republic of Korea            100

### Find the bottom five literacy rates

In [46]:
BottomfiveLiteracyRates = dfRate.nsmallest(10,'Literacy_Rate')

In [47]:
BottomfiveLiteracyRates

          Country  Literacy_Rate
18   Burkina Faso             29
93          Niger             29
80           Mali             31
25           Chad             34
46       Ethiopia             39
53         Guinea             41
10          Benin             42
115  Sierra Leone             42
55          Haiti             49
48         Gambia             50

# Measures of center of the data

## Sample Mean

In [48]:
Mean = dfRate['Literacy_Rate'].mean()
print("The mean is ", round(Mean,2))

The mean is  82.47

## The sample median

In [49]:
Median = dfRate['Literacy_Rate'].median()
print("The median is ", round(Median,2))

The median is  90.0

## Measures of spread or variation of the data

### Mean Absolute Deviation

$MAD\,=\,\frac{\sum{{|{x}_{i}}-\overline{x}}|}{n}$

In [50]:
Mad  = dfRate['Literacy_Rate'].mad()

In [51]:
print("The MAD value is ", round(Mad,2))

The MAD value is  15.52

### Sample Variance

In [55]:
# computes the sample standard deviation with a default ddof=1
VAR = dfRate['Literacy_Rate'].var()
print("The sample VAR value is ", round(VAR,2))

The sample VAR value is  344.31

### Population Variance

In [56]:
# computes the population variance with a default ddof=0
pVAR = dfRate['Literacy_Rate'].var(ddof=0)
print("The sample VAR value is ", round(pVAR,2))

The sample VAR value is  341.96

### Sample standard deviation

In [59]:
# computes the sample standard deviation with a default ddof=1
STD = dfRate['Literacy_Rate'].std()

In [60]:
print("The sample STD value is ", round(STD,2))

The sample STD value is  18.56

### Population Standard deviation

In [61]:
# computes the population standard deviation with a ddof=0
pSTD = dfRate['Literacy_Rate'].std(ddof=0)

In [62]:
print("The population STD value is ", round(pSTD,2))

The population STD value is  18.49