In [64]:
import pandas as pd
pd.set_option('display.max_rows', 1000)

### Advantages using Pandas statistical functions <br>  Missing values are removed prior to computations

In [65]:
dfRate = pd.read_csv("World2017literacyRate.csv",encoding='latin1')

In [66]:
dfMortality = pd.read_csv("InfantMortalityGNI.csv",encoding='latin1')

In [67]:
dfRate.head()

               Country  Literacy_Rate
0              Albania             96
1              Algeria             73
2               Angola             70
3  Antigua and Barbuda             99
4            Argentina             98

In [68]:
dfMortality.head()

     Countries  GNI_PER_CAPITA  Infant_Mortality
0  Afghanistan           590.0              73.2
1      Albania          4290.0              14.0
2      Algeria          4800.0              25.5
3      Andorra             NaN               2.8
4       Angola          4040.0              86.5

## Correlation with Pandas <br> ‘pearson’, ‘kendall’, ‘spearman’} default is pearson

### Pearson correlation coefficient
1. Normal distribution 
2. Linear assumption
3. No outliers in data

In [69]:
dfMortality.corr()

                  GNI_PER_CAPITA  Infant_Mortality
GNI_PER_CAPITA          1.000000         -0.510167
Infant_Mortality       -0.510167          1.000000

In [70]:
dfMortality.corr("pearson")

                  GNI_PER_CAPITA  Infant_Mortality
GNI_PER_CAPITA          1.000000         -0.510167
Infant_Mortality       -0.510167          1.000000

### Spearman rank correlation
1. Is a nonparametric test 
2. Assumption of a monotonic relationship. 
3. Is less sensitive to outliers than Pearson's corr

In [71]:
dfMortality.corr("spearman")

                  GNI_PER_CAPITA  Infant_Mortality
GNI_PER_CAPITA            1.0000           -0.8695
Infant_Mortality         -0.8695            1.0000

### Kendall tau rank
1. Is a nonparametric equivalent
2. Requires a monotonic relationship

In [72]:
dfMortality.corr("kendall")

                  GNI_PER_CAPITA  Infant_Mortality
GNI_PER_CAPITA           1.00000          -0.67478
Infant_Mortality        -0.67478           1.00000

### Other Statistical functions available with PANDAS <br> Fisher’s definition of kurtosis (kurtosis of normal == 0.0

In [73]:
Count = dfRate['Literacy_Rate'].count()
Min   = dfRate['Literacy_Rate'].min()
Max   = dfRate['Literacy_Rate'].max()
Mode  = dfRate['Literacy_Rate'].mode()
SEM   = dfRate['Literacy_Rate'].sem()
Skew = dfRate['Literacy_Rate'].skew()
Kurtosis = dfRate['Literacy_Rate'].kurt()

In [74]:
print("The count of observations is: ",Count)
print("The minimum observation is: ",Min)
print("The maximum observation is: ",Max)
print("The mode is:",Mode)
print("The standard error of the mean is: ",SEM)
print("The kurtosis is: ", round(Kurtosis,2))

The count of observations is:  147
The minimum observation is:  29
The maximum observation is:  100
The mode is: 0    100
dtype: int64
The standard error of the mean is:  1.5304295856
The kurtosis is:  0.27

In [75]:
print("Mode is",Mode.iloc[0])

Mode is 100

### Computing percentiles within Pandas

In [76]:
Percentile25th = dfRate['Literacy_Rate'].quantile(0.25,interpolation= 'linear')  # to match numpy percentile

In [77]:
Percentile25th

71.0

In [78]:
dfRate.describe()

       Literacy_Rate
count     147.000000
mean       82.469388
std        18.555473
min        29.000000
25%        71.000000
50%        90.000000
75%        98.000000
max       100.000000

In [ ]:
dfRate.head()

### Ranking data within Pandas <br> method : {‘average’, ‘min’, ‘max’, ‘first’, ‘dense’}

        average: average rank of group
        min: lowest rank in group
        max: highest rank in group
        first: ranks assigned in order they appear in the array
        dense: like ‘min’, but rank always increases by 1 between groups

In [87]:
dfRate['Rank'] = dfRate['Literacy_Rate'].rank(method='min',ascending=False, pct=False)

In [88]:
dfRate.head(160)

                                       Country  Literacy_Rate   Rank
0                                      Albania             96   42.0
1                                      Algeria             73  104.0
2                                       Angola             70  112.0
3                          Antigua and Barbuda             99   17.0
4                                    Argentina             98   28.0
5                                      Armenia            100    1.0
6                                   Azerbaijan            100    1.0
7                                      Bahrain             92   65.0
8                                   Bangladesh             57  128.0
9                                      Belarus            100    1.0
10                                       Benin             42  140.0
11                                      Bhutan             53  136.0
12            Bolivia (Plurinational State of)             91   70.0
13                      Bosnia and Herzegovina             98   28.0
14                                    Botswana             84   92.0
15                                      Brazil             90   73.0
16                           Brunei Darussalam             95   47.0
17                                    Bulgaria             98   28.0
18                                Burkina Faso             29  146.0
19                                     Burundi             67  115.0
20                                    Cambodia             74  103.0
21                                    Cameroon             71  109.0
22                                  Cape Verde             84   92.0
23                                     CEE/CIS             98   28.0
24                    Central African Republic             56  130.0
25                                        Chad             34  144.0
26                                       Chile             99   17.0
27                                       China             94   52.0
28                                    Colombia             93   59.0
29                                     Comoros             75  100.0
30                                  Costa Rica             96   42.0
31                               Cote d'Ivoire             56  130.0
32                                     Croatia             99   17.0
33                                        Cuba            100    1.0
34                                      Cyprus             98   28.0
35       Democratic People's Republic of Korea            100    1.0
36            Democratic Republic of the Congo             67  115.0
37                          Dominican Republic             90   73.0
38                       East Asia and Pacific             94   52.0
39                 Eastern and Southern Africa             68  113.0
40                                     Ecuador             92   65.0
41                                       Egypt             72  108.0
42                                 El Salvador             84   92.0
43                           Equatorial Guinea             94   52.0
44                                     Eritrea             68  113.0
45                                     Estonia            100    1.0
46                                    Ethiopia             39  143.0
47                                       Gabon             88   84.0
48                                      Gambia             50  137.0
49                                     Georgia            100    1.0
50                                       Ghana             67  115.0
51                                      Greece             97   39.0
52                                   Guatemala             75  100.0
53                                      Guinea             41  142.0
54                               Guinea-Bissau             54  135.0
55                                       Haiti             49  139.0
56                                    Honduras             85   90.0
57                                     Hungary             99   17.0
58                                       India             63  120.0
59                                   Indonesia             93   59.0
60                  Iran (Islamic Republic of)             85   90.0
61                                        Iraq             78   97.0
62                                       Italy             99   17.0
63                                     Jamaica             87   85.0
64                                      Jordan             93   59.0
65                                  Kazakhstan            100    1.0
66                                       Kenya             87   85.0
67                                      Kuwait             94   52.0
68                                  Kyrgyzstan             99   17.0
69            Lao People's Democratic Republic             73  104.0
70                                      Latvia            100    1.0
71                                     Lebanon             90   73.0
72                                     Lesotho             90   73.0
73                                     Liberia             61  122.0
74                                       Libya             89   79.0
75                                   Lithuania            100    1.0
76                                  Madagascar             64  118.0
77                                      Malawi             75  100.0
78                                    Malaysia             93   59.0
79                                    Maldives             98   28.0
80                                        Mali             31  145.0
81                                       Malta             92   65.0
82                                  Mauritania             58  126.0
83                                   Mauritius             89   79.0
84                                      Mexico             93   59.0
85                                    Mongolia             97   39.0
86                                  Montenegro             98   28.0
87                                     Morocco             56  130.0
88                                  Mozambique             56  130.0
89                                     Myanmar             92   65.0
90                                     Namibia             89   79.0
91                                       Nepal             60  125.0
92                                   Nicaragua             78   97.0
93                                       Niger             29  146.0
94                                     Nigeria             61  122.0
95                                        Oman             87   85.0
96                                    Pakistan             55  134.0
97                                      Panama             94   52.0
98                            Papua New Guinea             61  122.0
99                                    Paraguay             94   52.0
100                                       Peru             90   73.0
101                                Philippines             95   47.0
102                                     Poland            100    1.0
103                                   Portugal             95   47.0
104                                      Qatar             96   42.0
105                        Republic of Moldova             99   17.0
106                                    Romania             98   28.0
107                         Russian Federation            100    1.0
108                                     Rwanda             71  109.0
109                                      Samoa             99   17.0
110                      Sao Tome and Principe             89   79.0
111                               Saudi Arabia             87   85.0
112                                    Senegal             50  137.0
113                                     Serbia             98   28.0
114                                 Seychelles             92   65.0
115                               Sierra Leone             42  140.0
116                                  Singapore             96   42.0
117                                   Slovenia            100    1.0
118                               South Africa             89   79.0
119                                 South Asia             62  121.0
120                                      Spain             98   28.0
121                                  Sri Lanka             91   70.0
122                         State of Palestine             95   47.0
123                                   Suriname             95   47.0
124                                  Swaziland             87   85.0
125                       Syrian Arab Republic             83   95.0
126                                 Tajikistan            100    1.0
127                                   Thailand             94   52.0
128  The former Yugoslav Republic of Macedonia             97   39.0
129                                Timor-Leste             58  126.0
130                                       Togo             57  128.0
131                                      Tonga             99   17.0
132                        Trinidad and Tobago             99   17.0
133                                    Tunisia             78   97.0
134                                     Turkey             91   70.0
135                               Turkmenistan            100    1.0
136                                     Uganda             73  104.0
137                                    Ukraine            100    1.0
138                       United Arab Emirates             90   73.0
139                United Republic of Tanzania             73  104.0
140                                    Uruguay             98   28.0
141                                 Uzbekistan             99   17.0
142                                    Vanuatu             83   95.0
143         Venezuela (Bolivarian Republic of)             96   42.0
144                                   Viet Nam             93   59.0
145                                      Yemen             64  118.0
146                                     Zambia             71  109.0