In [1]:
import pandas as pd
import numpy as np
import scipy.stats as sp
from scipy.stats import trim_mean, kurtosis
from scipy.stats.mstats import gmean, hmean

In [10]:
df = pd.read_csv("InfantMortalityGNI.csv",encoding='latin1')

## The mean function is deprecated in scipy.  Recommendation to use numpy.mean

### Computing the geometric mean
***The geometric mean is used for data that combine multiplicatively, like rates. used in population growth estimates and economics***

$$\sqrt[n]{{{x}_{1}}\bullet {{x}_{2}}\bullet {{x}_{3}}\bullet \bullet \bullet {{x}_{n}}}\,\,\,-\,\,\,1$$

*** The monthly rate of return of Alpha Business for the last three months has 
been 11.5, 2.7 and 4.8 percent. 
What is the average rate of return? ***

In [3]:
GeoMean  = gmean([1.115, 1.027, 1.048])
print("The geometric mean value is: ", round(GeoMean,3))

The geometric mean value is:  1.063

In [4]:
Average_Rate_Return = (GeoMean - 1)*100
print("The average rate of return is: ", round(Average_Rate_Return,1))

The average rate of return is:  6.3

### Computing the harmonic mean

$$\frac{n}{\frac{1}{{{x}_{1}}}+\frac{1}{{{x}_{2}}}+\frac{1}{{{x}_{3}}}+....+\frac{1}{{{x}_{n}}}}$$

### In a three separate download of a 600kb file, 
> the averages rates of speed were measured as follows: <br>
> 4.5Kb per second, 4.1Kb per second and 4.9 Kb per second. <br>
> Calculate the average rate of download.

In [5]:
Rates = [ 4.5, 4.1, 4.9]

In [6]:
Meannp = np.mean(Rates)

In [7]:
Meannp

4.5

In [8]:
HarmonicRate = hmean(Rates)

In [9]:
print("The harmonic rate is:", round(HarmonicRate,2))

The harmonic rate is: 4.48

In [11]:
df.head()

     Countries  GNI_PER_CAPITA  Infant_Mortality
0  Afghanistan           590.0              73.2
1      Albania          4290.0              14.0
2      Algeria          4800.0              25.5
3      Andorra             NaN               2.8
4       Angola          4040.0              86.5

In [12]:
skewness = sp.skew(df['Infant_Mortality'], nan_policy="omit")

In [13]:
print("The skewness coeff is:", skewness)

The skewness coeff is: 1.2925985426500972

In [14]:
""" If Fisher=True (default) 3 is subtracted from the kurtosis. Normal = 0.0 """
Kurtosis = sp.kurtosis(df['Infant_Mortality'],fisher=True, nan_policy='omit')
print("The kurtosis coefficient is:", round(Kurtosis,2))

The kurtosis coefficient is: 0.89