### t-test in Python

In [ ]:
# import os
# os.getcwd()  # Prints the current working directory
# #To set the working directory:
# os.chdir('C:\\Users\chang\chuck\python')  # Provide the new path here

In [3]:
# https://stackoverflow.com/questions/13404468/t-test-in-pandas
import pandas as pd
from scipy.stats import ttest_ind

data = {'Category': ['cat2','cat1','cat2','cat1','cat2','cat1','cat2','cat1','cat1','cat1','cat2'],
        'values': [1,2,3,1,2,3,1,2,3,5,1]}
my_data = pd.DataFrame(data)
my_data

   Category  values
0      cat2       1
1      cat1       2
2      cat2       3
3      cat1       1
4      cat2       2
5      cat1       3
6      cat2       1
7      cat1       2
8      cat1       3
9      cat1       5
10     cat2       1

In [1]:
my_data.groupby('Category').mean()

            values
Category
cat1      2.666667
cat2      1.600000

In [15]:
from scipy.stats import ttest_ind

cat1 = my_data[my_data['Category']=='cat1']
cat2 = my_data[my_data['Category']=='cat2']

res = ttest_ind(cat1['values'], cat2['values'])
print('Stats: ', res[0], '; p-Value: ', res[1], ';',  ttest_ind(cat1['values'], cat2['values']))

Stats:  1.4927289925706944 ; p-Value:  0.16970867501294376 ; Ttest_indResult(statistic=1.4927289925706944, pvalue=0.16970867501294376)

In [18]:
# more examples:

# https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html#scipy.stats.ttest_1samp
from scipy import stats
import numpy as np
np.random.seed(7654567)  # fix seed to get the same result
rvs = stats.norm.rvs(loc=5, scale=10, size=(50,2))
#rvs

In [16]:
# Test if mean of random sample is equal to true mean, and different mean. We reject the null hypothesis in the second case and donâ€™t reject it in the first case.

In [19]:
rvs.shape

(50, 2)

In [20]:
type(rvs) # numpy.ndarray
rvs.mean()

4.481174157351776

In [21]:
np.mean(rvs, axis= None)

4.481174157351776

In [22]:
np.mean(rvs, axis=0)

array([4.014398  , 4.94795031])

In [23]:
np.mean(rvs, axis=1)

array([ -1.11614385,  11.47392827,   4.36114457,   1.54691873,
        -1.76117228,   2.96304754,   4.37150198,  -0.06685519,
        -2.79851917,   3.68126424,   4.58664354,   1.19420344,
        -7.46834473,  12.05980537,   0.92802133,  -5.08197642,
        -3.63688372,  -1.32346873,   3.51074572,  10.35998291,
         6.46729584,   7.87335375,  12.12188719,   4.20890103,
         6.40933375,  10.00870954,   1.94102966, -10.81568192,
         2.40417532,  -3.06268885,  -4.27757676,   0.29287373,
         3.48408625,  10.02755814,   6.83836092,  12.29789882,
         8.40784336,   1.93646862,  20.21923357,   4.63824179,
         5.45501133,  13.81203051,   9.48597534,  13.74690772,
        18.65297096,  12.02637912,  -4.96261151,   2.91718324,
        11.0025937 ,   2.71712016])

In [24]:
# scipy.stats.ttest_1samp -- Calculate the T-test for the mean of ONE group of scores
stats.ttest_1samp(rvs,5.0)

Ttest_1sampResult(statistic=array([-0.68014479, -0.04323899]), pvalue=array([0.49961383, 0.96568674]))

In [25]:
stats.ttest_1samp(rvs,0.0)

Ttest_1sampResult(statistic=array([2.77025808, 4.11038784]), pvalue=array([0.00789095, 0.00014999]))

In [26]:
# Examples using axis and non-scalar dimension for population mean.
stats.ttest_1samp(rvs,[5.0,0.0])  #tests on 2 cols separately

Ttest_1sampResult(statistic=array([-0.68014479,  4.11038784]), pvalue=array([4.99613833e-01, 1.49986458e-04]))

In [27]:
stats.ttest_1samp(rvs.T,[5.0,0.0],axis=1)

Ttest_1sampResult(statistic=array([-0.68014479,  4.11038784]), pvalue=array([4.99613833e-01, 1.49986458e-04]))

In [28]:
stats.ttest_1samp(rvs,[[5.0],[0.0]])  #2 tests on 2 cols tandemly

Ttest_1sampResult(statistic=array([[-0.68014479, -0.04323899],
       [ 2.77025808,  4.11038784]]), pvalue=array([[4.99613833e-01, 9.65686743e-01],
       [7.89094663e-03, 1.49986458e-04]]))

In [29]:
# scipy.stats.ttest_ind -- Calculate the T-test for the means of two independent samples of scores
# https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html#scipy.stats.ttest_ind

rvs1 = stats.norm.rvs(loc=5,scale=10,size=500)
rvs2 = stats.norm.rvs(loc=5,scale=10,size=500)
rvs3 = stats.norm.rvs(loc=5, scale=20, size=500)
rvs4 = stats.norm.rvs(loc=5, scale=20, size=100)
rvs5 = stats.norm.rvs(loc=8, scale=20, size=100)

In [30]:
# Test two sample with identical means:
stats.ttest_ind(rvs1,rvs2, equal_var = False)

Ttest_indResult(statistic=0.8639967583201787, pvalue=0.38779745253635345)

In [31]:
# ttest_ind underestimates p for unequal variances:
stats.ttest_ind(rvs1, rvs3)

Ttest_indResult(statistic=0.4943047830314808, pvalue=0.6211997300069941)

In [32]:
stats.ttest_ind(rvs1, rvs3, equal_var = False)

Ttest_indResult(statistic=0.49430478303148073, pvalue=0.6212342840293394)

In [33]:
# When n1 != n2, the equal variance t-statistic is no longer equal to the unequal variance t-statistic:
stats.ttest_ind(rvs1, rvs4)

Ttest_indResult(statistic=4.451456328797156, pvalue=1.0176572336079661e-05)

In [34]:
stats.ttest_ind(rvs1, rvs4, equal_var = False)

Ttest_indResult(statistic=2.9748429648863963, pvalue=0.00360388476082785)

In [35]:
# T-test with different means, variance, and n:
stats.ttest_ind(rvs1, rvs5)

Ttest_indResult(statistic=-2.9225463390260824, pvalue=0.003603030788114181)

In [36]:
stats.ttest_ind(rvs1, rvs5, equal_var = False)

Ttest_indResult(statistic=-2.0414335149324527, pvalue=0.04355812703420688)

In [37]:
# scipy.stats.ttest_ind_from_stats
# This is a two-sided test for the null hypothesis that two independent samples have identical average (expected) values.


# scipy.stats.ttest_rel -- Calculate the t-test on TWO RELATED samples of scores, a and b
# t={\frac {{\bar {X}}_{D}-\mu _{0}}{s_{D}/{\sqrt {n}}}}
# where {\bar {X}}_{D}} and s_{D}} are the average and standard deviation of the differences between all pairs
rvs1 = stats.norm.rvs(loc=5,scale=10,size=500)
rvs2 = (stats.norm.rvs(loc=5,scale=10,size=500) +
        stats.norm.rvs(scale=0.2,size=500))
stats.ttest_rel(rvs1,rvs2)

Ttest_relResult(statistic=0.2074939942466666, pvalue=0.8357087331527959)

In [38]:
rvs3 = (stats.norm.rvs(loc=8,scale=10,size=500) +
         stats.norm.rvs(scale=0.2,size=500))
stats.ttest_rel(rvs1,rvs3)

Ttest_relResult(statistic=-5.021089434932955, pvalue=7.163663877783791e-07)